build/lib/djsurfer/__init__.py
build/lib/djsurfer/datainterface.py
build/lib/djsurfer/datapool.py
build/lib/djsurfer/lib_interface/__init__.py
build/lib/djsurfer/lib_interface/text_object.py
dist/djsurfer-0.1.0-py3.11.egg
djsurfer.egg-info/dependency_links.txt
djsurfer.egg-info/entry_points.txt
djsurfer.egg-info/not-zip-safe
djsurfer.egg-info/PKG-INFO
djsurfer.egg-info/requires.txt
djsurfer.egg-info/SOURCES.txt
djsurfer.egg-info/top_level.txt
djsurfer/__pycache__/__init__.cpython-311.pyc
djsurfer/__pycache__/datainterface.cpython-311.pyc
djsurfer/__pycache__/datapool.cpython-311.pyc
djsurfer/lib_interface/__pycache__/__init__.cpython-311.pyc
djsurfer/lib_interface/__pycache__/d97_object.cpython-311.pyc
djsurfer/lib_interface/__pycache__/text_object.cpython-311.pyc
djsurfer/lib_interface/__pycache__/text_object_SY.cpython-311.pyc
tests/__pycache__/test_datapool.cpython-311-pytest-7.4.0.pyc
tests/__pycache__/test_Datapool_d97obj.cpython-311-pytest-7.4.0.pyc
